@{
    ViewData["Title"] = "Bubble 3D Chart";
}
@model HighChartBubbleChartResponseModel

<figure class="highcharts-figure">
    <div id="container"></div>
</figure>

@section scripts{
    <script>

        var data = @Html.Raw(JsonConvert.SerializeObject(Model.Data));
        var menDataList = [];
        var womenDataList = [];

        for (let item of data) {

            var object = {
                x: item.Age,
                y: item.WeightGained,
                z: item.Calories,
                calories: item.Calories
            }

            if (item.Role == 'Men') {
                menDataList.push(object);
            } else womenDataList.push(object);
        }

        Highcharts.chart('container', {

            chart: {
                type: 'bubble',
                plotBorderWidth: 1,
                zoomType: 'xy'
            },

            title: {
                text: 'Health Care Bubble Chart',
                align: 'left'
            },

            xAxis: {
                title: {
                    text: 'Age'
                },
                gridLineWidth: 1,
                accessibility: {
                    rangeDescription: 'Range: 0 to 100.'
                }
            },

            yAxis: {
                title: {
                    text: 'Weight Gained'
                },
                startOnTick: false,
                endOnTick: false,
                accessibility: {
                    rangeDescription: 'Range: 0 to 100.'
                }
            },

            series: [{
                name: 'Men',
                data: menDataList,
                marker: {
                    fillColor: {
                        radialGradient: { cx: 0.4, cy: 0.3, r: 0.7 },
                        stops: [
                            [0, 'rgba(255,255,255,0.5)'],
                            [1, Highcharts.color(Highcharts.getOptions().colors[0]).setOpacity(0.5).get('rgba')]
                        ]
                    }
                }
            }, {
                name: 'Women',
                data: womenDataList,
                marker: {
                    fillColor: {
                        radialGradient: { cx: 0.4, cy: 0.3, r: 0.7 },
                        stops: [
                            [0, 'rgba(255,255,255,0.5)'],
                            [1, Highcharts.color(Highcharts.getOptions().colors[1]).setOpacity(0.5).get('rgba')]
                        ]
                    }
                },
                keys: ['x', 'y', 'calories'], // Define the keys for the data array
                tooltip: {
                    pointFormat: '({point.x},{point.y}) Calories: {point.calories}'
                },
                zMin: 1,
                zMax: 100
            }]

        });
    </script>
}