<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AEHKLMNSTZDotNetCore.MvcApp</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ladda-bootstrap/0.9.4/ladda.min.css" integrity="sha512-zB1n/jwQD1XiJf3rDBfZVm5xqngjw1C48MYyJ8XOd/7OLvDbjUmY9+gGyeJORcYXSv3qFOZ3VdHAoullPFHIYA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AEHKLMNSTZDotNetCore.MvcApp.styles.css" asp-append-version="true" />

    @await RenderSectionAsync("style", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AEHKLMNSTZDotNetCore.MvcApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="Index">Blog</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Apex Chart
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/apexchart/piechart">Pie Chart</a></li>
                                <li><a class="dropdown-item" href="/apexchart/candlestickchart">Candle Stick Chart</a></li>
                                <li><a class="dropdown-item" href="/apexchart/rangeareachart">Range Area Chart</a></li>
                                <li><a class="dropdown-item" href="/apexchart/radarchart">Radar Chart</a></li>
                                <li><a class="dropdown-item" href="/apexchart/treeMap">Tree Map Chart</a></li>
                                <li><a class="dropdown-item" href="/apexchart/heatmapchart">Heat Map Chart</a></li>
                                <li><a class="dropdown-item" href="/apexchart/radialbarchart">Radial Bar Chart</a></li>
                                <li><a class="dropdown-item" href="/apexchart/funnelchart">Funnel Chart</a></li>
                                <li><a class="dropdown-item" href="/apexchart/boxplotchart">Box Plot Chart</a></li>
                                <li><a class="dropdown-item" href="/apexchart/bubblechart">Bubble Chart</a></li>
                                <li><a class="dropdown-item" href="/apexchart/linechart">Line Chart</a></li>
                                <li><a class="dropdown-item" href="/apexchart/barchart">Bar Chart</a></li>
                                <li><a class="dropdown-item" href="/apexchart/mixedchart">Mixed Chart</a></li>
                                <li><a class="dropdown-item" href="/apexchart/candlestickchart">Candle Stick  Chart</a></li>
                                <li><a class="dropdown-item" href="/apexchart/TimeLineChart">TimeLineChart</a></li>
                                <li><a class="dropdown-item" href="/apexchart/PolarAreaChart">Polar Area Chart</a></li>
                                <li><a class="dropdown-item" href="/apexchart/columnchart">Column Chart</a></li>
                                <li><a class="dropdown-item" href="/apexchart/areachart">Area Chart</a></li>
                                <li><a class="dropdown-item" href="/apexchart/scatterchart">Scatter Chart</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Chart Js
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/chartjs/piechart">Pie Chart</a></li>
                                <li><a class="dropdown-item" href="/chartjs/horizontalbarchart">Horizontal Bar Chart</a></li>
                                <li><a class="dropdown-item" href="/chartjs/stackedbarlinechart">Stacked Bar Line Chart</a></li>
                                <li><a class="dropdown-item" href="/chartjs/legendpointstyle">Legend Point Style</a></li>
                                <li><a class="dropdown-item" href="/chartjs/scattermultiaxischart">Scatter Multi Axis Chart</a></li>
                                <li><a class="dropdown-item" href="/chartjs/pointstylingchart"> Point Styling Chart</a></li>
                                <li><a class="dropdown-item" href="/chartjs/stackedlinechart"> Stacked Line Chart </a></li>
                                <li><a class="dropdown-item" href="/chartjs/verticalbarchart">Vertical Bar Chart</a></li>
                                <li><a class="dropdown-item" href="/chartjs/TimeScalChart">Time Scal</a></li>
                                <li><a class="dropdown-item" href="/chartjs/Scatter">Scatter Chart</a></li>
                                <li><a class="dropdown-item" href="/chartjs/RadarChart">Radar Chart</a></li>
                                <li><a class="dropdown-item" href="/chartjs/floatingbarchart">Floating Bar Chart</a></li>
                                <li><a class="dropdown-item" href="/chartjs/polarareachart">Polar Area Chart</a></li>
                                <li><a class="dropdown-item" href="/chartjs/doughnutchart">Doughnut Chart</a></li>
                                <li><a class="dropdown-item" href="/chartjs/areachart">Area Chart</a></li>
                                <li><a class="dropdown-item" href="/chartjs/steppedlinechart">Stepped Line Chart</a></li>
                                <li><a class="dropdown-item" href="/chartjs/multiaxislinechart">Multi Axis Line Chart</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Canvas Js
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/canvasjs/piechart">Pie Chart</a></li>
                                <li><a class="dropdown-item" href="/canvasjs/invertedfunnelchart">Inverted Funnel Chart</a></li>
                                <li><a class="dropdown-item" href="/canvasjs/pyramidchart">Pyramid Chart</a></li>
                                <li><a class="dropdown-item" href="/canvasjs/boxandwhiskerchart">Box And Whisker Chart</a></li>
                                <li><a class="dropdown-item" href="/canvasjs/splineareachart">Spline Area Chart</a></li>
                                <li><a class="dropdown-item" href="/canvasjs/scatterandbubblechart">Scatter & Bubble Chart</a></li>
                                <li><a class="dropdown-item" href="/canvasjs/waterfallChart">Waterfall Chart</a></li>
                                <li><a class="dropdown-item" href="/canvasjs/paretochart">Pareto Chart</a></li>
                                <li><a class="dropdown-item" href="/canvasjs/CandleStick">Candle Stick Chart</a></li>
                                <li><a class="dropdown-item" href="/canvasjs/splinechart">Spline Chart</a></li>
                                <li><a class="dropdown-item" href="/canvasjs/simplelinechart">Simple line Chart</a></li>
                                <li><a class="dropdown-item" href="/canvasjs/areachart">Area Chart</a></li>
                                <li><a class="dropdown-item" href="/canvasjs/errorlinechart">Error Line Chart</a></li>
                                <li><a class="dropdown-item" href="/canvasjs/linechartwithaxis">Line Chart With Axis</a></li>
                                <li><a class="dropdown-item" href="/canvasjs/errorbarchart">Error Bar Chart</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                HighCharts
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/highcharts/piechart">Pie Chart</a></li>
                                <li><a class="dropdown-item" href="/highcharts/semicircledonutchart">Semi Circle Donut Chart</a></li>
                                <li><a class="dropdown-item" href="/highcharts/basiccolumnchart">Basic Column Chart</a></li>
                                <li><a class="dropdown-item" href="/highcharts/stackedbarchart">Stacked Bar Chart</a></li>
                                <li><a class="dropdown-item" href="/highcharts/invertedareachart">Inverted Area Chart</a></li>
                                <li><a class="dropdown-item" href="/highcharts/linechart">Line Chart</a></li>
                                <li><a class="dropdown-item" href="/highcharts/fanchart">Fan Chart</a></li>
                                <li><a class="dropdown-item" href="/highcharts/logarithmicaxischart">Logarithmic Axis Chart</a></li>
                                <li><a class="dropdown-item" href="/highcharts/lollipopchart">Lollipop Chart</a></li>
                                <li><a class="dropdown-item" href="/highcharts/splinechart">Spline Chart</a></li>
                                <li><a class="dropdown-item" href="/highcharts/DoeNetChart">3D DoeNet Chart</a></li>
                                <li><a class="dropdown-item" href="/highcharts/piewithlegendchart">Pie with Legend Chart</a></li>
                                <li><a class="dropdown-item" href="/highcharts/radialbarchart">Radial Bar Chart</a></li>
                                <li><a class="dropdown-item" href="/highcharts/bubble3DChart">3D Bubble Chart</a></li>
                                <li><a class="dropdown-item" href="/highcharts/columnpyramidchart">Column Pyramid Chart</a></li>
                                <li><a class="dropdown-item" href="/highcharts/arearangechart">Area Range Chart</a></li>
                                <li><a class="dropdown-item" href="/highcharts/splitpackedbubblechart">Split Packed Bubble Chart</a></li>
                                <li><a class="dropdown-item" href="/highcharts/areasplinechart">Area Spline Chart</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - AEHKLMNSTZDotNetCore.MvcApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ladda-bootstrap/0.9.4/spin.min.js" integrity="sha512-qByKQKO3eTwzJtP8Y395YbP45QyYZNpJfYu8jfFpWgFTK2xWIiOER7G+63EoXk475fBFzY6HIhbEUio6m72EaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ladda-bootstrap/0.9.4/ladda.min.js" integrity="sha512-OxowQ96EheBKRxTivGsizVvTK8bWt2xZlymiMZ9MArbmOmuxbv+2IlC46k4gZPhZH5eVQAm0F6lk9Yt6M4xu7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>

    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> *@


    <!-- Include moment.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>
    @* <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> *@

    <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/11.2.0/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/11.2.0/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/dumbbell.js"></script>
    <script src="https://code.highcharts.com/modules/lollipop.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <!-- Include Luxon library -->

    <script src="~/js/custom.js"></script>

    @await RenderSectionAsync("scripts", required: false)
</body>
</html>
