@model ChartJsPieChartModel
<div>
    <canvas id="myChart"></canvas>
</div>

@section scripts {
    <script>
        const ctx = document.getElementById('myChart');

        const data = {
            labels: @Html.Raw(JsonConvert.SerializeObject(Model.Labels)),
            datasets: [{
                label: "@Model.Label",
                data: @Html.Raw(JsonConvert.SerializeObject(Model.Data)),
                backgroundColor: @Html.Raw(JsonConvert.SerializeObject(Model.BackgroundColor)),
                hoverOffset: 4
            }]
        };

        const config = {
            type: 'doughnut',
            data: data,
        };

        new Chart(ctx, config);
    </script>
}