@model CanvasJsErrorBarChartResponseModel

<div id="chartContainer" style="height: 300px; width: 100%;"></div>

@section scripts {
	<script>
		window.onload = function () {

			var chart = new CanvasJS.Chart("chartContainer", {
				animationEnabled: true,
				title: {
					text: "QOS - Survey Result"
				},
				axisY: {
					title: "Response values",
					includeZero: true,
					interval: 10
				},
				toolTip: {
					shared: true
				},
				data: [{
					type: "bar",
					name: "Avg. Score",
					toolTipContent: "<b>{label}</b> <br> <span style=\"color:#4F81BC\">{name}</span>: {y}",
					dataPoints: @Html.Raw(JsonConvert.SerializeObject(Model.Datapoints1))
						},
				{
					type: "error",
					name: "Variability Range",
					toolTipContent: "<span style=\"color:#C0504E\">{name}</span>: {y[0]} - {y[1]}",
					dataPoints: @Html.Raw(JsonConvert.SerializeObject(Model.Datapoints2))
							}]
			});
			chart.render();

		}
	</script>
}
