@model ApexChartPieChartModel
@{
    List<int> _series = Model.Series;
    List<string> _labels = Model.Labels;
    // List<int> _series = new List<int> { 44, 55, 13, 43, 22 };
    // List<string> _labels = new List<string> { "Team A", "Team B", "Team C", "Team D", "Team E" };
}

<div id="chart"></div>

@section scripts {
    <script>

        // let _series = [44, 55, 13, 43, 22];
        // let _labels = ['Team A', 'Team B', 'Team C', 'Team D', 'Team E'];

        let _series = @Html.Raw(JsonConvert.SerializeObject(_series));
        let _labels = @Html.Raw(JsonConvert.SerializeObject(_labels));

        var options = {
            series: _series,
            chart: {
                width: 380,
                type: 'pie',
            },
            labels: _labels,
            responsive: [{
                breakpoint: 480,
                options: {
                    chart: {
                        width: 200
                    },
                    legend: {
                        position: 'bottom'
                    }
                }
            }]
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();

    </script>
}