@model ApexChartPolarAreaChartModel

@{
    List<int> _polarSeries = Model.PolarSeries;
    //    List<int> _polarSeries = new List<int> { 14, 23, 21, 17, 15, 10, 12, 17, 21 };
}

<div id="chart"></div>

@section scripts{
    <script>

        let _polarSeries = @Html.Raw(JsonConvert.SerializeObject(_polarSeries));
        var options = {
            series: _polarSeries,
          chart: {
          type: 'polarArea',
        },
        stroke: {
          colors: ['#fff']
        },
        fill: {
          opacity: 0.8
        },
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 200
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();


    </script>
}