@model ApexChartRangeAreaResponseModel

<div id="chart"></div>

@section scripts{
    <script>

        var options = {
            series: [
                {
                    name: 'New York Temperature',
                    data: @Html.Raw(JsonConvert.SerializeObject(Model.Data))
                }
            ],
            chart: {
                height: 350,
                type: 'rangeArea'
            },
            stroke: {
                curve: 'straight'
            },
            title: {
                text: 'New York Temperature (all year round)'
            },
            markers: {
                hover: {
                    sizeOffset: 5
                }
            },
            dataLabels: {
                enabled: false
            },
            yaxis: {
                labels: {
                    formatter: (val) => {
                        return val + '°C'
                    }
                }
            }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();


    </script>
}